/* Recomendación de ubicación de orden de estilos
1. Posicionamiento
2. Modelo de caja
3. Tipografía
4. Visuales
5. Otros */

:root {
    /* Fuentes */
    --font-sans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
    /* Colores */
    --background:#E5E5E5;
	--linear-gradient: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black:#201E1C;
    --black: #282623;
    --grey: #bababa;
    --off-white: #FAF8F7;
    --just-white: #FFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: var(--linear-gradient);
    background-size: 400% 400%;
    box-shadow: 2px 0 10px 3px #aaa;
}

header img {
    width: 150px;
    height: 24px;
    margin: 50px 0;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    text-align: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    top: calc(100% - 24px);
	left: calc(50% - 114.5px);
    padding: 15px;
    width: 229px;
    height: 48px;
    background: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(https://i.ibb.co/SKfRCgr/down-arrow.png);
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background: var(--off-white);
}

.main--exchange-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 59px;
    padding-bottom: 30px;
    text-align: center;
}

.img--background {
    align-self: center;
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
    background: url(https://i.ibb.co/VLc350F/Bitcoin.png) center/cover no-repeat;
}

.main--exchange-container--title {
    align-self: center;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
}

.main--exchange-container--title h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warm-black)
}

.main--exchange-container--title p {
    margin-bottom: 43px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.main--tables-container {
    align-self: center;
    width: 60%;
    min-width: 224px;
    max-width: 300px;
    height: auto;
}

.main--table .main--table-title p {
    margin-bottom: 12px;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--bitcoin-orange);
}

.main--table section {
    display: grid;
    grid-template: repeat(4,60px) / repeat(2,1fr);
    grid-gap: 2px 2px;
    margin-bottom: 25px;
    font-family: var(--font-inter);
}

.main--table section .main--table-value{
    background: var(--just-white);
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.main--table section .main--table-value:nth-child(odd) {
    font-size: 1.6rem;
    font-weight: 500;
    color: #B5B0AC;
}

.main--table section .main--table-value:nth-child(even) {
    font-size: 1.4rem;
    color: #757575;
}

.main--table section .main--table-value span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.main--table section .main--table-value:nth-child(2) span,
.main--table-value:nth-child(6) span,
.main--table-value:nth-child(8) span
 {
    background: url(https://i.ibb.co/qsc9R2G/trending-down.png) center/cover no-repeat;
}

.main--table section .main--table-value:nth-child(4) span {
    background: url(https://i.ibb.co/9Wt1n2C/trending-up.png) center/cover no-repeat;
}

.main--table section .main--table-value:nth-child(1) {
    border-top-left-radius: 15px;
}

.main--table section .main--table-value:nth-child(7) {
    border-bottom-left-radius: 15px;
}

.main--table section .main--table-value:nth-child(2) {
    border-top-right-radius: 15px;
}

.main--table section .main--table-value:nth-child(8) {
    border-bottom-right-radius: 15px;
}

.main--table .main--table-date {
    width: auto;
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 8px;
    background: var(--soft-orange);
    color: #757575;
}

.main--table:nth-child(2) .main--table-title p {
    color: var(--secondary-blue);
}

.main--table:nth-child(2) .main--table-date {
    background: var(--soft-blue);
}

.main--tables-container .main--table:first-child {
    margin-bottom: 30px;
}