/* Recomendación de ubicación de orden de estilos
1. Posicionamiento
2. Modelo de caja
3. Tipografía
4. Visuales
5. Otros */

:root {
    /* Fuentes */
    --font-sans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
    /* Colores */
    --background:#E5E5E5;
	--linear-gradient: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black:#201E1C;
    --black: #282623;
    --grey: #bababa;
    --off-white: #FAF8F7;
    --just-white: #FFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: var(--linear-gradient);
    box-shadow: 2px 0 10px 3px #aaa;
}

header img {
    width: 150px;
    height: 24px;
    margin: 50px 0;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    text-align: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    top: calc(100% - 24px);
	left: calc(50% - 114.5px);
    padding: 15px;
    width: 229px;
    height: 48px;
    background: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(https://i.ibb.co/SKfRCgr/down-arrow.png);
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background: var(--off-white);
}

.main--exchange-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width:320px;
    height: auto;
    padding-top: 59px;
    padding-bottom: 30px;
    text-align: center;
}

.img--background {
    /* align-self: center; */
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
    background: url(https://i.ibb.co/VLc350F/Bitcoin.png) center/cover no-repeat;
}

.main--exchange-container--title {
    /* align-self: center; */
    width: 90%;
    min-width: 288px;
    max-width: 900px;
}

.main--exchange-container--title h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warm-black)
}

.main--exchange-container--title p {
    margin-bottom: 43px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.main--tables-container {
    display: flex;
    padding: 0 30px;
    width: 100%;
    min-width: 320px;
    max-width: 1200px;
    height: 350px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main--tables-container::-webkit-scrollbar {
    background-color: #c3e5fd;
    height: 3px;
  }
.main--tables-container::-webkit-scrollbar-thumb {
    background-color: var(--secondary-blue);
  }

.main--table {
    position: relative;
    scroll-snap-align: center;
    margin: 0 20px 20px;
    width: 60%;
    min-width: 224px;
    max-width: 300px;
}

.main--table .main--table-title p {
    margin-bottom: 12px;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--bitcoin-orange);
}

.main--table section {
    display: grid;
    grid-template: repeat(4,60px) / repeat(2,1fr);
    grid-gap: 2px 2px;
    margin-bottom: 25px;
    font-family: var(--font-inter);
}

.main--table:nth-child(1) section div {
    box-shadow: 10px 10px 30px #9191911f;
}

.main--table:nth-child(2) section div {
    box-shadow: 10px 10px 30px #9191911f;
}

.main--table section .main--table-value{
    background: var(--just-white);
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.main--table section .main--table-value:nth-child(odd) {
    font-size: 1.6rem;
    font-weight: 500;
    color: #B5B0AC;
}

.main--table section .main--table-value:nth-child(even) {
    font-size: 1.4rem;
    color: #757575;
}

.main--table section .main--table-value span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.main--table section .main--table-value:nth-child(2) span,
.main--table-value:nth-child(6) span,
.main--table-value:nth-child(8) span
 {
    background: url(https://i.ibb.co/qsc9R2G/trending-down.png) center/cover no-repeat;
}

.main--table section .main--table-value:nth-child(4) span {
    background: url(https://i.ibb.co/9Wt1n2C/trending-up.png) center/cover no-repeat;
}

.main--table section .main--table-value:nth-child(1) {
    border-top-left-radius: 15px;
}

.main--table section .main--table-value:nth-child(7) {
    border-bottom-left-radius: 15px;
}

.main--table section .main--table-value:nth-child(2) {
    border-top-right-radius: 15px;
}

.main--table section .main--table-value:nth-child(8) {
    border-bottom-right-radius: 15px;
}

.main--table .main--table-date {
    margin: 0 auto;
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 8px;
    background: var(--soft-orange);
    color: #757575;
}

.main--table:nth-child(2) .main--table-title p {
    color: var(--secondary-blue);
}

.main--table:nth-child(2) .main--table-date {
    background: var(--soft-blue);
}

.main--product-detail {
    background: var(--warm-black);
    color: #fff;
    padding: 25px 10px;
}

.main--product-detail-logo {
    position: absolute;
    margin-top: -35px;
    left: calc(50% - 20px);
    width: 40px;
    height: 25px;
    background: url(https://i.ibb.co/4tL16BQ/batata.png) center/cover no-repeat;
}

.product--detail-title {
    text-align: center;
}

.product--detail-title h2 {
    padding: 35px 0 22px 0;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: #fff;
}

.product--detail-title p {
    padding-bottom: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product--cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.product--detail-card {
    margin: 15px 15px;
    padding: 15px 15px 25px;
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    border-radius: 4px;
    background: #282623;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
}

.product--card-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

.product--detail-card:first-child .product--card-icon {
    background: url(https://i.ibb.co/GkQhkP0/clock.png) center/cover no-repeat;
}

.product--detail-card:nth-child(2) .product--card-icon {
    background: url(https://i.ibb.co/jvJymvS/eye.png) center/cover no-repeat;
}

.product--detail-card:nth-child(3) .product--card-icon {
    background: url(https://i.ibb.co/bRxGPwX/dollar-sign.png) center/cover no-repeat;
}

.product--detail-card:nth-child(4) .product--card-icon {
    background: url(https://i.ibb.co/z7pL9B0/check-circle.png) center/cover no-repeat;
}

.product--detail-card .prouct--card-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.product--detail-card .product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    color: #808080;
}

.bitcoin--img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    text-align: center;
    background: url(https://i.ibb.co/H7PhtNZ/bitcoinbaby2x.jpg) center/cover no-repeat;
}

.bitcoin--img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main--plans-container {
    width: 100%;
    min-width: 320px;
    padding: 64px 0 70px;
    text-align: center;
    background:  var(--off-white);
}

.plans-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto 42px;
}

.plans-title h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans-title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans--container-slider {
    display: flex;
    padding: 0 20px;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans--container-slider::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
  }
.plans--container-slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
  }

.plan-card {
    position: relative;
    scroll-snap-align: center;
    width: 65%;
    min-width: 210px;
    max-width: 250px;
    height: 250px;
    margin: 40px 10px 20px;
    padding: 0 15px;
    border-radius: 40px;
}

.plan-card > p {
    position: relative;
    top: -15px;
    left: calc(50% - 50px);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.45rem;
    width: 100px;
    padding: 8px;
    color: var(--just-white);
    border-radius: 8px;
}

.plan--info-container .plan--card-title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #000000;
}

.plan--info-container .plan--card-price {
    padding: 5px 0;
    font-family: var(--font-inter);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.2rem;
}

.plan--info-container .plan--card-price span,
.plan--info-container .plan--card-saving {
    vertical-align: 28px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
}

.plan--info-container .plan--card-saving {
    padding: 10px 0 16px;
    color: var(--just-white);
}

.plan--info-container .plan--card-cta {
    width: 150px;
    height: 48px;
    font-family: var(--font-sans);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    border-style: none;
    border-radius: 100px;
}

.plan--card-cta span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://img.icons8.com/ios-glyphs/30/000000/arrow.png) center/cover no-repeat;
    vertical-align: text-bottom;
}

.plan-card:nth-child(1) {
    background: var(--secondary-blue);
    box-shadow:  3px 3px 2px #1683d2,
                -3px -3px 2px #29f5ff;
}

.plan-card:nth-child(1) > p {
    background: #0b3f65;
} 

.plan-card:nth-child(1) .plan--card-cta {
    background: #1A9AF7;
    box-shadow:  5px 5px 10px #1683d2,
                -5px -5px 10px #1eb1ff;
}

.plan-card:nth-child(2) {
    background: #20df46;
    box-shadow:  3px 3px 2px #1bbe3c,
                -3px -3px 2px #25ff51;
}

.plan-card:nth-child(2) > p {
    background: #1bbe3c;
}

.plan-card:nth-child(2) .plan--card-cta {
    background: #20df46;
    box-shadow:  5px 5px 10px #1bbe3c,
                -5px -5px 10px #25ff51;
}

.plan-card:nth-child(3) {
    background: var(--bitcoin-orange);
    box-shadow:  3px 3px 2px #d27d16,
                -3px -3px 2px #ffa91e;
}

.plan-card:nth-child(3) > p {
    background: #d27d16;
} 

.plan-card:nth-child(3) .plan--card-cta {
    background: #F7931A;
    box-shadow:  5px 5px 10px #d27d16,
                -5px -5px 10px #ffa91e;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: var(--bitcoin-orange);
}

.footer--sections-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    max-width: 1000px;
}

.footer--network a {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--just-white);
    text-decoration: none;
}

.footer--network li {
    width:max-content ;
    list-style: none;
    margin: 10px 0;
}

.footer--network img {
    margin-right: 5px;
    width: 20px;
    vertical-align: text-bottom;
}

.footer--logo img {
    width: 64px;
    height: 50px;
}